*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    text-align: center;
    /* padding: 100px; */
}
.box{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 150vh;
    margin: 0 100px;
}
h2{
    margin: 30px;
}
input{
    height: 40px;
    font-size: 26px;
    border-radius: 10px;
}
input:focus{
    border-color:yellow;

}

button{
    height: 35px;
    width: 120px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    /* background-color: rgb(87, 87, 87); */
    /* color: white; */
    margin: 10px;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, .3),
                inset 4px 4px 10px white;
    /* box-shadow: 5px 5px 5px solid rgb(31, 29, 29); */
}
button:hover{
    /* background-color: green; */
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .3),
    inset -4px -4px 10px white;
    transition: .2s;
}
label{
    font-size: 26px;
}








@media screen and (max-width:576px) {
    .box{
        display: flex;
        flex-direction: column;
        height: 65vh;
        width: 65vh;
       
        box-shadow: 5px  solid black;
        padding: 30px 5px;
    
        text-align: center;
    }
    label{
        font-size: 16px;
    }
    input{
        height: 30px;
        font-size: 16px;
        border-radius: 10px;
    }
    #incert{
       margin: 20px 0;

    }
    .btns{
        margin: 0;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
        /* padding: 100px; */
    }
    button{
        height: 25px;
        width: 120px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
      
        margin: 10px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, .5),
                inset 4px 4px 10px white;
    }
    button:hover{
        /* background-color: green; */
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .3),
        inset -4px -4px 10px white;
        transition: .2s;
    }
}
